# Dependencies
node_modules/

# Environment Variables
.env
.env.*
!.env.example

# Logs and Debug
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test and Build Artifacts
dist/
build/
coverage/
.mock_*
playwright-report/
test-results/


# OS Metadata
.DS_Store
Thumbs.db
