# Dependencies
node_modules/

# Environment Variables
.env
.env.*
!.env.example

# Logs and Debug
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test and Build Artifacts
dist/
build/
coverage/
.mock_*
playwright-report/
test-results/
blob-report/

# Local Database Files (safeguard)
mongod.lock
WiredTiger*
diagnostic.data/
journal/
*.wt

# IDE and OS Metadata
.vscode/
.DS_Store
Thumbs.db
